<form action="">
    <h1>CRIANDO UMA NOVA TAREFA</h1>
   
        <mat-form-field class="data-finalizar">
          <mat-label>Data para finalizar</mat-label>
          <input [(ngModel)]="todo.dataParaFinalizar" name="todo.dataParaFinalizar" matInput [matDatepicker]="dp3" disabled>
          <mat-hint>Entre com a data para finalizar.</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
       
        <div class="forms">
            <mat-form-field class="form">
                <mat-label>Título</mat-label>
                <input [(ngModel)]="todo.titulo" name="todo.titulo" matInput placeholder="Estudar Spring">
              </mat-form-field>
    
              <mat-form-field class="form">
                <mat-label>Descrição</mat-label>
                <input [(ngModel)]="todo.descricao" name="todo.descricao" matInput placeholder="Estudar o framework">
              </mat-form-field>
        </div>

        <div class="buttons">
            <button (click)="create()" mat-raised-button color="primary">CRIAR</button>
            <button mat-raised-button color="warn" routerLink="/">CANCELAR</button>
        </div>

</form>